src/InHouseSlipMaking.Forms/F01_InputSalesInfomation/F01_InputSalesInfomation/Web References/InputSaleInfomationWS/InputSaleInfomationWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="GetListReceiveingNumber">
        <s:complexType />
      </s:element>
      <s:element name="GetListReceiveingNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListReceiveingNumberResult" type="tns:ArrayOfSharePointKyuzuList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSharePointKyuzuList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SharePointKyuzuList" nillable="true" type="tns:SharePointKyuzuList" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SharePointKyuzuList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ReceiveingNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PersionInChangeOfSales" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TypeOfCar" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TypeOfModel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PersonInCharge" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Categoty" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeliveryDatePlan" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PersonInChargeOfHouan" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PersonInChargeOfCAD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ManHour" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DeliveryDateActial" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Remark" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumberOfKata" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Kyuzu" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CancelFlag" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s1:guid" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetListReceiveingInformation">
        <s:complexType />
      </s:element>
      <s:element name="GetListReceiveingInformationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListReceiveingInformationResult" type="tns:ArrayOfReceiveingInformation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfReceiveingInformation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ReceiveingInformation" nillable="true" type="tns:ReceiveingInformation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ReceiveingInformation">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseDomainOfReceiveingInformation">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="RECEIVEING_NUM" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DATA_NUM" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SIZE_W" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SIZE_D" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SIZE_H" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="WEIGHT" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="COMPLETED_DT" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="CAD_START_DT" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="MANUFACTURE_START_DT" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="HOUAN_CK_DT" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="KIBORI_CK_DT" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="CAD_CK_DT" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="CAM_CK_DT" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="SHIYOUZU_CK_DT" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="NC_CK_DT" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="WIRECUT_CK_DT" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="SHIAGE_CK_DT" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="KENSAHYOU_CK_DT" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="KENSA_CK_DT" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="COMPLETED_CK_DT" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="CANCEL_FLAG" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UPDATE_FLAG" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UPD_WOKER_CD" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="UPD_DT" type="s:dateTime" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseDomainOfReceiveingInformation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Check" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetReceiveingInformationByReceivingNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rcvNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReceiveingInformationByReceivingNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReceiveingInformationByReceivingNumberResult" type="tns:ReceiveingInformation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertAndUpdateReceivingNumberToSPandDB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="spKyuzuList" type="tns:SharePointKyuzuList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertAndUpdateReceivingNumberToSPandDBResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteReceivingNumberToSPandDB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="receivingNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteReceivingNumberToSPandDBResponse">
        <s:complexType />
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetListReceiveingNumberSoapIn">
    <wsdl:part name="parameters" element="tns:GetListReceiveingNumber" />
  </wsdl:message>
  <wsdl:message name="GetListReceiveingNumberSoapOut">
    <wsdl:part name="parameters" element="tns:GetListReceiveingNumberResponse" />
  </wsdl:message>
  <wsdl:message name="GetListReceiveingInformationSoapIn">
    <wsdl:part name="parameters" element="tns:GetListReceiveingInformation" />
  </wsdl:message>
  <wsdl:message name="GetListReceiveingInformationSoapOut">
    <wsdl:part name="parameters" element="tns:GetListReceiveingInformationResponse" />
  </wsdl:message>
  <wsdl:message name="GetReceiveingInformationByReceivingNumberSoapIn">
    <wsdl:part name="parameters" element="tns:GetReceiveingInformationByReceivingNumber" />
  </wsdl:message>
  <wsdl:message name="GetReceiveingInformationByReceivingNumberSoapOut">
    <wsdl:part name="parameters" element="tns:GetReceiveingInformationByReceivingNumberResponse" />
  </wsdl:message>
  <wsdl:message name="InsertAndUpdateReceivingNumberToSPandDBSoapIn">
    <wsdl:part name="parameters" element="tns:InsertAndUpdateReceivingNumberToSPandDB" />
  </wsdl:message>
  <wsdl:message name="InsertAndUpdateReceivingNumberToSPandDBSoapOut">
    <wsdl:part name="parameters" element="tns:InsertAndUpdateReceivingNumberToSPandDBResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteReceivingNumberToSPandDBSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteReceivingNumberToSPandDB" />
  </wsdl:message>
  <wsdl:message name="DeleteReceivingNumberToSPandDBSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteReceivingNumberToSPandDBResponse" />
  </wsdl:message>
  <wsdl:portType name="InputSaleInfomationWSSoap">
    <wsdl:operation name="GetListReceiveingNumber">
      <wsdl:input message="tns:GetListReceiveingNumberSoapIn" />
      <wsdl:output message="tns:GetListReceiveingNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListReceiveingInformation">
      <wsdl:input message="tns:GetListReceiveingInformationSoapIn" />
      <wsdl:output message="tns:GetListReceiveingInformationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReceiveingInformationByReceivingNumber">
      <wsdl:input message="tns:GetReceiveingInformationByReceivingNumberSoapIn" />
      <wsdl:output message="tns:GetReceiveingInformationByReceivingNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertAndUpdateReceivingNumberToSPandDB">
      <wsdl:input message="tns:InsertAndUpdateReceivingNumberToSPandDBSoapIn" />
      <wsdl:output message="tns:InsertAndUpdateReceivingNumberToSPandDBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteReceivingNumberToSPandDB">
      <wsdl:input message="tns:DeleteReceivingNumberToSPandDBSoapIn" />
      <wsdl:output message="tns:DeleteReceivingNumberToSPandDBSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InputSaleInfomationWSSoap" type="tns:InputSaleInfomationWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetListReceiveingNumber">
      <soap:operation soapAction="http://tempuri.org/GetListReceiveingNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListReceiveingInformation">
      <soap:operation soapAction="http://tempuri.org/GetListReceiveingInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReceiveingInformationByReceivingNumber">
      <soap:operation soapAction="http://tempuri.org/GetReceiveingInformationByReceivingNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAndUpdateReceivingNumberToSPandDB">
      <soap:operation soapAction="http://tempuri.org/InsertAndUpdateReceivingNumberToSPandDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteReceivingNumberToSPandDB">
      <soap:operation soapAction="http://tempuri.org/DeleteReceivingNumberToSPandDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InputSaleInfomationWSSoap12" type="tns:InputSaleInfomationWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetListReceiveingNumber">
      <soap12:operation soapAction="http://tempuri.org/GetListReceiveingNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListReceiveingInformation">
      <soap12:operation soapAction="http://tempuri.org/GetListReceiveingInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReceiveingInformationByReceivingNumber">
      <soap12:operation soapAction="http://tempuri.org/GetReceiveingInformationByReceivingNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAndUpdateReceivingNumberToSPandDB">
      <soap12:operation soapAction="http://tempuri.org/InsertAndUpdateReceivingNumberToSPandDB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteReceivingNumberToSPandDB">
      <soap12:operation soapAction="http://tempuri.org/DeleteReceivingNumberToSPandDB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InputSaleInfomationWS">
    <wsdl:port name="InputSaleInfomationWSSoap" binding="tns:InputSaleInfomationWSSoap">
      <soap:address location="http://localhost:51046/InHouseSlipMaking.Web/Webservices/InputSaleInfomationWS.asmx" />
    </wsdl:port>
    <wsdl:port name="InputSaleInfomationWSSoap12" binding="tns:InputSaleInfomationWSSoap12">
      <soap12:address location="http://localhost:51046/InHouseSlipMaking.Web/Webservices/InputSaleInfomationWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>