src/InHouseSlipMaking.Forms/F03_CreateExcelAndSharePointList/F03_CreateExcelAndSharePointList/Web References/CreateExcelAndUpdateSharePointListWS/CreateExcelAndUpdateSharePointListWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunProcess">
        <s:complexType />
      </s:element>
      <s:element name="RunProcessResponse">
        <s:complexType />
      </s:element>
      <s:element name="RunProcessTestExcel">
        <s:complexType />
      </s:element>
      <s:element name="RunProcessTestExcelResponse">
        <s:complexType />
      </s:element>
      <s:element name="TestUpdate">
        <s:complexType />
      </s:element>
      <s:element name="TestUpdateResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="RunProcessSoapIn">
    <wsdl:part name="parameters" element="tns:RunProcess" />
  </wsdl:message>
  <wsdl:message name="RunProcessSoapOut">
    <wsdl:part name="parameters" element="tns:RunProcessResponse" />
  </wsdl:message>
  <wsdl:message name="RunProcessTestExcelSoapIn">
    <wsdl:part name="parameters" element="tns:RunProcessTestExcel" />
  </wsdl:message>
  <wsdl:message name="RunProcessTestExcelSoapOut">
    <wsdl:part name="parameters" element="tns:RunProcessTestExcelResponse" />
  </wsdl:message>
  <wsdl:message name="TestUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:TestUpdate" />
  </wsdl:message>
  <wsdl:message name="TestUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:TestUpdateResponse" />
  </wsdl:message>
  <wsdl:portType name="CreateExcelAndUpdateSharePointListWSSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RunProcess">
      <wsdl:input message="tns:RunProcessSoapIn" />
      <wsdl:output message="tns:RunProcessSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RunProcessTestExcel">
      <wsdl:input message="tns:RunProcessTestExcelSoapIn" />
      <wsdl:output message="tns:RunProcessTestExcelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestUpdate">
      <wsdl:input message="tns:TestUpdateSoapIn" />
      <wsdl:output message="tns:TestUpdateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CreateExcelAndUpdateSharePointListWSSoap" type="tns:CreateExcelAndUpdateSharePointListWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunProcess">
      <soap:operation soapAction="http://tempuri.org/RunProcess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunProcessTestExcel">
      <soap:operation soapAction="http://tempuri.org/RunProcessTestExcel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestUpdate">
      <soap:operation soapAction="http://tempuri.org/TestUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CreateExcelAndUpdateSharePointListWSSoap12" type="tns:CreateExcelAndUpdateSharePointListWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunProcess">
      <soap12:operation soapAction="http://tempuri.org/RunProcess" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunProcessTestExcel">
      <soap12:operation soapAction="http://tempuri.org/RunProcessTestExcel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestUpdate">
      <soap12:operation soapAction="http://tempuri.org/TestUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CreateExcelAndUpdateSharePointListWS">
    <wsdl:port name="CreateExcelAndUpdateSharePointListWSSoap" binding="tns:CreateExcelAndUpdateSharePointListWSSoap">
      <soap:address location="http://localhost:51046/InHouseSlipMaking.Web/Webservices/CreateExcelAndUpdateSharePointListWS.asmx" />
    </wsdl:port>
    <wsdl:port name="CreateExcelAndUpdateSharePointListWSSoap12" binding="tns:CreateExcelAndUpdateSharePointListWSSoap12">
      <soap12:address location="http://localhost:51046/InHouseSlipMaking.Web/Webservices/CreateExcelAndUpdateSharePointListWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>